OLLAMA_HOST=http://askuhh-ollama:11434 # Wenn lokal dann OLLAMA_HOST=http://134.100.39.14:11435

# Models 
LLM_MODEL=qwen3:8b
EMBED_MODEL=snowflake-arctic-embed2

# RAG tuning 
CHUNK_SIZE=512
CHUNK_OVERLAP=64
TOP_K=4
RERANK_CANDIDATES=15

# Ports 
FRONTEND_PORT=3123
BACKEND_PORT=8123
OLLAMA_PORT=11435

# GPU
CUDA_VISIBLE_DEVICES=1
