fastapi==0.115.5
uvicorn[standard]==0.32.1
llama-index==0.11.23
llama-index-vector-stores-chroma==0.3.0
llama-index-embeddings-ollama==0.3.1
llama-index-llms-ollama==0.3.6
llama-index-readers-file==0.3.0
chromadb==0.5.23
pymupdf==1.24.14
pytesseract==0.3.13
Pillow==11.0.0
